#page-pick-user {
    height: 100vh;

    .pick-layout {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;

        &__top {
            background-color: #00309c;
            height: 80px;
            flex-shrink: 0;
            position: relative;

            @include media-breakpoint-up(lg) {
                height: 140px;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 4px;
                background: linear-gradient(90deg, #00309c, #afc8f6, #00309c);
            }
        }

        &__stage {
            width: 100%;
            flex-grow: 1;
            overflow: hidden;
            background-color: #5a7edc;
            z-index: 1;
            position: relative;
            display: flex;
            align-items: center;
            gap: 50px;
            flex-direction: column;

            @include media-breakpoint-up(lg) {
                flex-direction: row;
                gap: 200px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 10%;
                left: 10%;
                transform: translate(-50%, -50%);
                width: 70vw;
                height: 70vw;
                background: radial-gradient(#92b2ef 0%, #5a7edc 70%);
                z-index: -1;
            }
        }

        &__left {
            text-align: center;
            padding-top: 30px;

            @include media-breakpoint-up(lg) {
                padding-top: 0;
                text-align: right;
                width: 50%;
            }
        }

        &__logo {
            width: 180px;
            height: auto;
            margin-bottom: 30px;
            display: block;
            margin-left: auto;
            margin-right: auto;

            @include media-breakpoint-up(lg) {
                width: 240px;
                margin-right: initial;
            }
        }

        &__prompt {
            color: white;
            font-size: 20px;

            @include media-breakpoint-up(lg) {
                font-size: 40px;
            }
        }

        &__welcome {
            font-style: italic;
            font-size: 70px;
            color: white;
            font-weight: 600;
            text-shadow: 3px 3px 3px #113499;
            display: block;
            margin-top: 100px;

            @include media-breakpoint-up(lg) {
                display: initial;
                margin-top: 0;
            }
        }

        &__divider {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            height: 100%;
            width: 3px;
            background: linear-gradient(0, #5a7edc, #8aa8eb, #5a7edc);
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include media-breakpoint-up(lg) {
                width: 50%;
                gap: 60px;
            }
        }

        &__logout-logo {
            width: 200px;
            height: auto;
        }

        &__logout-prompt {
            color: white;
            font-weight: 600;
            font-size: 21px;
            letter-spacing: 1px;
        }

        &__user {
            position: relative;

            &__inner {
                display: flex;
                gap: 18px;
                opacity: 0.6;
                transition: opacity 0.7s ease;
                padding: 20px;
                position: relative;

                @include media-breakpoint-up(lg) {
                    gap: 30px;
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 2px solid #85a0e5;
                    border-radius: 18px;
                    background: linear-gradient(90deg, #1242a6, #5a7edc);
                    z-index: -2;
                    visibility: hidden;
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 2px solid linear-gradient(90deg, transparent, #5a7edc);
                    border-radius: 18px;
                    background: linear-gradient(90deg, transparent, #5a7edc);
                    z-index: -1;
                    visibility: hidden;
                }
            }

            &--selected {
                .pick-layout {
                    &__user {
                        &__inner {
                            opacity: 1;
                        }
                    }
                }
            }

            &__profile {
                border-radius: 5px;
                background-color: #ccd6eb;
                padding: 5px;
                box-shadow: 3px 3px 12px 3px #486dca;
                width: 80px;
                height: 80px;
                transition: background-color 0.3s ease;

                @include media-breakpoint-up(lg) {
                    width: 100px;
                    height: 100px;
                }
            }

            &__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__name {
                font-size: 30px;
                line-height: 30px;
                color: white;

                @include media-breakpoint-up(lg) {
                    font-size: 40px;
                    line-height: 40px;
                }
            }

            &__password-wrap {
                @include media-breakpoint-up(lg) {
                    margin-top: 4px;
                }
            }

            &__password-prompt {
                color: white;
                font-size: 13px;
                line-height: 13px;
                margin-bottom: 3px;
            }

            &__password {
                height: 28px;
                position: relative;
            }

            &__login-btn {
                padding: 0;

                img {
                    width: 28px;
                    height: 28px;
                }

                &:hover {
                    cursor: default !important;

                    img {
                        filter: brightness(1.15);
                    }
                }

                &:active {
                    img {
                        filter: brightness(0.85);
                    }
                }
            }

            &__status {
                display: block;
                font-weight: 600;
                letter-spacing: 1px;
                color: #113499;
            }

            &__link {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                border: none;

                &:hover {
                    cursor: pointer !important;
                }

                &:hover + .pick-layout,
                &:focus + .pick-layout {
                    &__user {
                        &__inner {
                            opacity: 1;

                            .pick-layout {
                                &__user {
                                    &__profile {
                                        background-color: #cdc242;
                                    }
                                }
                            }
                        }
                    }
                }

                &:focus + .pick-layout {
                    &__user {
                        &__inner {
                            &::before,
                            &::after {
                                visibility: visible;
                            }
                        }
                    }
                }
            }

            &--protected {
                .pick-layout {
                    &__user {
                        &__link {
                            z-index: 0;
                        }
                    }
                }
            }
        }

        &__bottom {
            background: linear-gradient(90deg, #3833ac, #00309c);
            position: relative;
            height: 80px;
            flex-shrink: 0;

            @include media-breakpoint-up(lg) {
                height: 140px;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                width: 100%;
                height: 4px;
                background: linear-gradient(90deg, #3833ac, #c1814c, #00309c);
            }
        }
    }
}
